<div class="parent">
  <div class="div1">
    <div class="title">
      <span class="text-orange">Bienvenue</span>
      <span class="text-white">en</span><br />
      <span class="text-green">Côte d'Ivoire</span>
    </div>
    <p class="description">
      Joyau de l'Afrique de l'Ouest !<br>
      Découvrez une destination enchanteresse où la richesse culturelle, la diversité ethnique,<br> et la beauté naturelle se rencontrent harmonieusement.<br>
      Des plages de sable doré bordées par les eaux cristallines du Golfe de Guinée aux marchés animés regorgeant de couleurs<br> et de saveurs exotiques, chaque coin du pays raconte une histoire unique.
      <button mat-fab extended color="accent" class="login-btn" (click)="loginRedirect()">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </p>

  </div>

</div>
