<mat-toolbar  class="toolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
  </button>
  <span><img src="https://img.freepik.com/vecteurs-libre/conception-autocollant-pour-drapeau-irlande_1308-73064.jpg?w=740&t=st=1702569373~exp=1702569973~hmac=e90a0b3d358b4d5cd38a4f415643e085b01ab3ddc4637a0b251a661e0d858264" alt=""></span>
  <span class="example-spacer"></span>

  <button mat-fab extended color="accent" class="login-btn" (click)="logoutRedirect()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>
